---

copyright:
  years: 2019
lastupdated: "2019-04-28"

keywords: ipsec, vpn, vpx, tunnel

subcollection: citrix-netscaler-vpx


---

{:shortdesc: .shortdesc}
{:codeblock: .codeblock}
{:screen: .screen}
{:new_window: target="_blank"}
{:pre: .pre}
{:table: .aria-labeledby="caption"}
{:tip: .tip}
{:note: .note}
{:important: .important}

# Verificar la conexión del túnel VPN
{: #verifying-vpn-tunnel-connection}

Ejecute los procedimientos y mandatos siguientes para verificar el estado operativo de la conexión VPN:

1.	Confirme el estado de VPN en VPX yendo a **Sistema > CloudBridge Connector > Túneles de IP**.

  <img src="images/ipsecVerifyVPN1.png" alt="dibujo" style="width: 600px;"/>

  El estado debería ser **UP** en la entrada de túnel de IP correspondiente (en este ejemplo: **IPSec_tunnel1**).

  Para confirmar el estado de la conexión VPN utilizando la CLI, ejecute el mandato siguiente:

  ```    
  > show iptunnel
  1) Domain.......:               0
    Name.........:  IPSec_tunnel1 (TUN1)
    Remote.......:  10.115.168.144   Mask......: 255.255.255.255
    Local........:  10.143.220.106   Encap.....:  10.143.220.106
    Protocol.....:           IPSEC   Type......:               C
    IPSec Profile Name.......:  IPSec_Profile1
    IPSec Tunnel Status......:              UP
    Number of PBRs ..........:               1
      
    Done
      
  ```

2.	Confirme el estado de VPN en VRA ejecutando el mandato siguiente en la CLI para confirmar el estado de VPN:
    
  ```
  $ show vpn ipsec sa
  Peer ID / IP                            Local ID / IP
  ------------                            -------------
  10.143.220.106                          10.115.168.144
  
  Tunnel  Id          State  Bytes Out/In   Encrypt       Hash      DH A-Time  L-Time
  ------  ----------  -----  -------------  ------------  --------  -- ------  ------
  1       1           up     0.0/0.0        aes256        sha1      2  18466   86400
  ```

  3.	Pruebe la conectividad de VPN emitiendo un ping desde la VSI de detrás de Citrix VPX a la VSI del lado remoto (de Virtual Router Appliance):

  ```
  >ping 10.115.72.237
  
  Pinging 10.115.72.237 with 32 bytes of data:
  Reply from 10.115.72.237: bytes=32 time=37ms TTL=63
  Reply from 10.115.72.237: bytes=32 time=36ms TTL=63
  Reply from 10.115.72.237: bytes=32 time=35ms TTL=63
  Reply from 10.115.72.237: bytes=32 time=35ms TTL=63
  
  Ping statistics for 10.115.72.237:
      Packets: Sent = 4, Received = 4, Lost = 0 (0% loss),
  Approximate round trip times in milli-seconds:
      Minimum = 35ms, Maximum = 37ms, Average = 35ms
  ```
